@page
{
    size: auto;   /* auto is the initial value */
    margin-left: 0.3in;
}

.myName {
  font-size: 18pt;
  margin-bottom: 1em;
}

.myContactInfo {
  margin-top: 0.4em;
}

.sectionHeader {
  margin-bottom: 0.3em;
  padding-bottom: 0.1em;
}

.bulletSepList {
  margin-bottom: 0.1em;
}

.itemDetails {
  margin-bottom: 0.1em;
}

.detail {
  margin-bottom: 0.1em;
}

.item {
  margin-bottom: 0.2em;
}

.flat-item {
  margin-bottom: 0.2em;
}

body {
	font-size: 9pt;
	margin-bottom: 0.0in;
	margin-top: 0.0in;
	margin-left: 0.6in;
	padding-right: 0.0in;
	padding-bottom: 0.0in;
}

section {
  margin-bottom: 0.5em;
}

.item {
    page-break-inside: avoid;
}

section {
  page-break-inside: avoid;
}

hr {
  display: none;
}

a { text-decoration: none; }

a:link, a:visited {
  color: grey;
  font-style: italic;
 }

.sectionHeader {
  border-bottom: thin solid black;
}
