
/*

#header {
	margin-top: 30px;
}

#header {
    align-items: center;
    margin-top: 1px;
}

section#projects {
	page-break-after: always;
}

section#activities {
	page-break-inside: avoid;
}


h1 {
	font-size: 1.5em;
	margin: 0px;
}

h2, h3, h4 {
    font-size: 1em;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 8px;
}

ul, li {
	margin: 5px;
}

body {
	font-size: smaller;
	margin: 0px;
}

#photo {
	display: none;
}


*/