@page
{
    size: auto;   /* auto is the initial value */
    margin: 0.2in;
}

body {
	font-size: 9pt;
	margin-bottom: 0.3in;
	margin-top: 0.1in;
	margin-left: 0.4in;
	padding-right: 0.2in;
	padding-bottom: 0.4in;
}

section {
  margin-bottom: 1em;
}

.item {
    page-break-inside: avoid;
}

section {
  page-break-inside: avoid;
}

hr {
  display: none;
}

a { text-decoration: none; }

a:link, a:visited {
  color: grey;
  font-style: italic;
 }

.sectionHeader {
  border-bottom: thin solid black;
}
