/* See http://csswizardry.com/2012/06/single-direction-margin-declarations/ */

body, html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Otherwise pure-g will set its own fonts inside grid */
    font-family: calibri, helvetica, arial, sans-serif;
}


body {
	font-size: 10pt;
	margin-bottom: 1em;
	margin-top: 2em;
  margin-left: 3em;
  margin-right: 2em;
}

.myName {
    font-size: 22pt;
    font-weight: bold;
		margin-bottom: 0.3em;
}

.myContactInfo {
	margin-top: 0.6em;
}

.sectionHeader {
    color: darkslategrey;
    margin-bottom: 0.3em;
  	font-size: 12pt;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 0.4em;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(30%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
}

.bulletSepList {
    margin-left: 0.6em;
    margin-bottom: 0.4em;
}

.bullet:before {
    content:  "\2022";
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.hdr-bullet:before {
    content:  "\2022";
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.itemDetails {
    margin-bottom: 0.4em;
    margin-left: -0.6em;
}

.detail {
  margin-left: 0em;
	margin-bottom: 2px;
}

.affil, .myContactInfo, .itemAttrs, .right {
    font-size: 9pt;
}

.link {
    font-weight: lighter;
    font-size: 9pt;
    margin-left: 20px;
    background: bisque;
}

.flat-list {
	margin-top: 0em;
}

.flat-item {
	margin-bottom: 2px;
}

.itemName {
    color: darkcyan;
    margin-left: 10px;
    margin-bottom: -0.6em;
    font-size: 11pt;
    font-weight: bold;
}

.itemAttrs, .myContactInfo, .right {
    text-align: right;
}

.itemAttrs {
    margin-bottom: -10px;
}

.itemRole {
		font-size: 90%;
    font-style: italic;
    font-weight: normal;
    padding-left: 20pt;
}

.split-l-r>.left:before {
    content: "\2022";
    margin-left: 0.7em;
		margin-right: 0.7em;
}

.split-l-r {
    margin-left: -32px;
}

.itemLeft {
    flex-basis: 2;
}

.itemAttrs {
    flex-basis: none;
}

/* TODO: layout & menu css can be in menu.css, separate from resume.css */
#layout {
    padding-left: 160px;
    left: 0;
}

#menu {
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    color: lightgrey;
    font-family: sans-serif;
}

.pure-menu-item {
    font-size: 1.0em;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.pure-menu-selected {
    background-color: darkcyan;
    padding: 3px;
    margin-right: -4px;
}
