/* See http://csswizardry.com/2012/06/single-direction-margin-declarations/ */

/* TODO: Get rid of "px" units */

body {
	font-size: 10pt;
	margin-bottom: 1em;
	margin-top: 2em;
  margin-left: 3em;
  margin-right: 2em;
}

.myName {
    font-size: 22pt;
    font-weight: bold;
}

.sectionHeader {
    color: darkslategrey;
    margin-bottom: 0.3em;
  	font-size: 12pt;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    /*margin-top: 10px;*/
    margin-bottom: 0.4em;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(30%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 30%, hsla(0,0%,0%,0) 100%);
}

.bulletSepList {
    margin-left: 0.6em;
    margin-bottom: 0.4em;
}

.bullet:before {
    content:  "\2022"; /* "\25A0"; */
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.hdr-bullet:before {
    content:  "\2022"; /* "\25A0"; */
    margin-right: 0.3em;
    margin-left: 0.3em;
}


.itemDetails {
    margin-bottom: 0.4em;
    margin-left: -0.6em;
}

.detail {
  margin-left: 0em;
	margin-bottom: 2px;
}

.affil, .myContactInfo, .itemAttrs, .right {
    font-size: 9pt;
}

.link {
    font-weight: lighter;
    font-size: 9pt;
    margin-left: 20px;
    background: bisque;
}

.flat-list {
	margin-top: 0em;
}

.flat-item {

}

.flat-item {
	/*margin-top: 2px;*/
	margin-bottom: 2px;
}

.itemName {
    color: darkcyan;
    margin-left: 10px;
    margin-bottom: -0.6em;
    font-size: 11pt;
    font-weight: bold;
}

.itemAttrs, .myContactInfo, .right {
    text-align: right;
}

.itemAttrs {
    margin-bottom: -10px;
}

.itemRole {
		font-size: 90%;
    font-style: italic;
    font-weight: normal;
    padding-left: 20pt;
}

#urls a {
    /*padding-left: 5px;*/
}

#nameAffil {
    /*margin-top: -10px;*/
    margin-left: 0px;
}

.split-l-r>.left:before {
    content: "\2022";
    /*margin-right: 10px;*/
    margin-left: 0.7em;
		margin-right: 0.7em;
}

.split-l-r {
    margin-left: -32px;
}

.itemLeft {
    flex-basis: 2;
}

.itemAttrs {
    flex-basis: none;
}

#layout {
    padding-left: 160px;
    left: 0;
}

#menu {
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    color: lightgrey;
    font-family: sans-serif;
    /*margin-left: 10px;*/
}

.pure-menu-item {
    font-size: 1.0em;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.pure-menu-selected {
    background-color: darkcyan;
    padding: 3px;
    margin-right: -4px;
}

/* ***** flexbox ***** */

/* *** MINIMIZE EDITS TO THIS SECTION !!! *** */

/* ***** hand-written flexbox styles here **** */

/*
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.split-l-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#namePhoto {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

*/

/* ***** pleeease.io/play auto-generated cross-browser flexbox version here **** */

.item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.split-l-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

#header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#namePhoto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
}
