#all_regs {
    background-color: aliceblue;
}

.instr {
  width: 75%;
}

table {
  margin-right: 10px;
}

#program {
    background-color: beige;
}

button.pure-button {
	margin: 2px;
  background-color: lightcoral;
  font-weight: bold;
}

input, .output {
  font-size: x-large;
}

.attention {
	background-color: lightcoral;
}


.output {
  background-color: peachpuff;
}

table, tr {
    vertical-align: top;
}


body {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.1em;
}
